#adminmenu #menu-posts-bws-testimonial div.wp-menu-image {
    background: url("../images/menu.png") no-repeat scroll left -28px transparent;
}
#adminmenu #menu-posts-bws-testimonial:hover div.wp-menu-image,
#adminmenu #menu-posts-bws-testimonial.current div.wp-menu-image {
    background: url("../images/menu.png") no-repeat scroll left 0 transparent;
}
/*
* styles for widget
*/
.testimonial_quote_footer {
    text-align: right;
    margin-bottom: 10px;
}
/*
* styles for settings page
*/
.tstmnls_code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    font-size: 14px;
    margin: 0 1px;
    padding: 3px 5px 2px;
}